<% content_for :title, "Editar disco - Disquería" %>
<% content_for :page_title, "Editar disco" %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'disks', media: 'all' %>
<% end %>

<div class="admin-page admin-disks-edit">
  <h1>Editar disco</h1>
  <%= render 'form' %>
</div>